@model DataLayer.RegisterViewModel
@{
    ViewData["Title"] = "موفقیت آمیز";
}

<div class="col-md-12 col-12">
    <div class="alert alert-success text-center shadow-sm">
        <p>کاربر گرامی @Model.Email ثبت نام شما با موفقیت انجام شد.</p>
        <p>می توانید از طریق <a href="/Login">ورود</a> وارد حسابتان بشوید</p>
    </div>
</div>