
@{
    ViewData["Title"] = "تماس با ما";
}

<h1>تماس با ما</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card border-dark" style="max-width: 20rem;">
            <div class="card-header">تماس با ما</div>
            <div class="card-body">
                <h4 class="card-title">راه های ارتباطی</h4>
                <p class="card-text">09915995484</p>
                <p class="card-text">09232793891</p>
                <p class="card-text">amirhosseinhasanloo2005@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="jumbotron">
            <h2 class="display-4">به فروشگاه ما خوش آمدید</h2>
            <hr class="my-4">
            <p>میتوانید از طریق  راه های ارتباطی با ما در ارتباط باشید و نظرات و انتقادات خودتان را با ما درمیان بگذارید.</p>
         
        </div>
    </div>
</div>
