@model IEnumerable<DataLayer.Product>
@{
    ViewData["Title"] = "صفحه اصلی فروشگاه";
}

<div class="text-center">
    <br />
    <h3 class="display-6">به فروشگاه ما خوش آمدید</h3>
    <br />
    <hr class="shadow-sm" />
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_ProductPartial" model="@item" />
        }
    </div>
</div>
