@model IEnumerable<DataLayer.Product>
@{
    ViewData["Title"] = ViewData["GroupName"];
}
<div class="text-center">
    <h3 class="display-6">محصولات گروه @ViewData["GroupName"] </h3>
    <hr class="shadow-sm" />
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_ProductPartial" model="@item" />
        }
    </div>
</div>



