@page
@using DataLayer
@model AmirHosein_Shop.Pages.Admin.ProductsModel
@{
    ViewData["Title"] = "افزودن محصول";
   var Categories = ViewData["Categories"] as List<Category>;
}
<div class="col-md-12">
    
    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger text-center">
            @ViewData["Error"]
        </div>
    }

    <br/>
    <p class="display-1 font-weight-bolder">
        افزودن محصول
    </p>
    <hr/>
    <form method="post" class="col-md-8" enctype="multipart/form-data">
        <label asp-for="AddProduct.Name" class="col-form-label"></label>
        <input asp-for="AddProduct.Name" class="form-control"/>
        <span asp-validation-for="AddProduct.Name" class="text-info"></span>
        <br/>
        <label asp-for="AddProduct.Description" class="col-form-label"></label>
        <textarea asp-for="AddProduct.Description" class="form-control"></textarea>
        <span asp-validation-for="AddProduct.Description" class="text-info"></span>
        <br/>
        <label asp-for="AddProduct.Price" class="col-form-label"></label>
        <input asp-for="AddProduct.Price" class="form-control"/>
        <span asp-validation-for="AddProduct.Price" class="text-info"></span>
        <br/>
        <label asp-for="AddProduct.QuantityInStock" class="col-form-label"></label>
        <input asp-for="AddProduct.QuantityInStock" class="form-control"/>
        <span asp-validation-for="AddProduct.QuantityInStock" class="text-info"></span>
        <br/>
        <label asp-for="AddProduct.Picture" class="col-form-label"></label>
        <input asp-for="AddProduct.Picture" class="form-control"/>
        <span asp-validation-for="AddProduct.Picture" class="text-info"></span>
        <br/>
        <label class="col-form-label">گروه محصولات</label>
        <div class="row">
            <ul class="list-group text-center shadow-sm col-md-6">
                @foreach (var i in Categories)
                {
                    <li class="list-group-item">
                        @i.CategoryName : <input type="checkbox" name="selectedGroups" value="@i.Id" class="custom-checkbox checkbox-inline">
                    </li>
                }
            </ul>
        </div>

        <input type="submit" value="افزودن" class="btn btn-outline-secondary"/>
    </form>
</div>